<div class="row">
  <div class=<%="col-sm-#{widget.leftcolumn}"%>>
    <%= scrivito_tag :p, widget, :text %>
  </div>

  <div class=<%="col-sm-#{widget.rightcolumn}"%>>
    <%= scrivito_image_tag widget, :image %>
  </div>
</div>